* {
	-fx-main-color: #efb30e;
	-fx-secondary-color: #00b0ff;
	-fx-font-family: "Verdana";
	font-family: "Verdana";
}

.button {
	-fx-background-color: -fx-main-color;
	-fx-border-color: -fx-main-color;
	-fx-text-fill: #FFF;
}

#anchor {
	-fx-background-color: #01579b;
	background-color: #01579b;
}

#joueursContainer {
	padding: 40px;
	-fx-padding: 40px;
}

.loading-spinner {
	-fx-progress-color: #efb30e;
}

#open_modal, #text_circle {
	position: fixed;
}

#open_modal:hover {
	-fx-cursor: hand;
	cursor: hand;
}

#text_circle {
	-fx-font-size: 48px;
}

.float-button {
	-fx-fill: -fx-main-color;
	fill: -fx-main-color;
}

#modalAdd {
	-fx-background-color: #00b0ff;
	-fx-border-color: #eee;
	-fx-border-width: 1px;
}

.joueur-card {
	-fx-background-color: -fx-secondary-color;
	background-color: -fx-secondary-color;
	-fx-border-color: -fx-secondary-color;
	border-color: -fx-secondary-color;
	-fx-border-width: 1px;
	border-width: 1px;
	-fx-border-radius: 8px;
	border-radius: 8px;
	-fx-background-radius: 8px;
	-fx-font-size: 16px;
	font-size: 16px;
}

.joueur-card .options .options-circle {
	-fx-fill: #fff;
	fill: #fff;
}

.joueur-card .options:hover {
	-fx-cursor: hand;
	cursor: hand;
}

.joueur-card #nom {
	-fx-text-fill: #FFF;
	-fx-font-size: 20px;
	font-size: 20px;
}

.joueur-card #statut {
	-fx-text-fill: #FFF;
}