* {
	-fx-main-color: #efb30e;
	-fx-secondary-color: #00b0ff;
	-fx-secondary-mid: #0277bd;
	-fx-secondary-dark: #01579b;
	-fx-font-family: "Verdana";
}

.button {
	-fx-background-color: -fx-main-color;
	-fx-border-color: -fx-main-color;
	-fx-text-fill: #FFF;
}

#anchor {
	-fx-background-color: -fx-secondary-dark;
}

#joueursContainer {
	-fx-padding: 40px;
}

.loading-spinner {
	-fx-progress-color: -fx-main-color;
}

#open_modal, #text_circle {
	position: fixed;
}

#open_modal:hover {
	-fx-cursor: hand;
}

#text_circle {
	-fx-font-size: 48px;
}

.float-button {
	-fx-fill: -fx-main-color;
}

#modalAdd {
	-fx-background-color: -fx-secondary-color;
	-fx-border-color: #eee;
	-fx-border-width: 1px;
}

.joueur-card {
	-fx-background-color: -fx-secondary-color;
	background-color: -fx-secondary-color;
	-fx-border-color: -fx-secondary-color;
	-fx-border-width: 1px;
	-fx-border-radius: 8px;
	-fx-background-radius: 8px;
	-fx-font-size: 16px;
}

.joueur-card #nom {
	-fx-text-fill: #FFF;
	-fx-font-weight: 700;
	-fx-font-size: 16px;
}

.joueur-card #pseudo {
	-fx-text-fill: #FFF;
	-fx-font-size: 14px;
}

.joueur-card #statut {
	-fx-text-fill: #FFF;
}

.joueur-card .buttons .button {
	-fx-cursor: hand;
	-fx-border-radius: 50px;
	-fx-background-radius: 50px;
	-fx-background-color: -fx-secondary-mid;
	-fx-border-color: -fx-secondary-mid;
}